.cart {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  margin-bottom: 171px;
}
.cart__list {
  width: 100%;
  margin-top: 28px;

  border-top: 0.7px solid #DDDADA;
}

.cart__item {
  position: relative;
  display: flex;

  min-height: 163px;

  border-bottom: 0.7px solid #DDDADA;
}

.cart__delete {
  position: absolute;

  width: 20px;
  height: 20px;

  top: 19px;
  left: 0;

  font-size: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before {
    position: absolute;

    content: "";

    top: 9px;
    left: 3px;

    width: 14px;
    height: 1px;

    background-color: #9F9E9E;
    transform: rotate(45deg);
  }

  &::after {
    position: absolute;

    content: "";

    top: 9px;
    left: 3px;

    width: 14px;
    height: 1px;

    background-color: #9F9E9E;
    transform: rotate(-45deg);
  }
}

.cart__item-image {
  width: 45px;
  margin-left: 46px;
  margin-top: 20px;
}

.cart__text-wrapper {
  margin-top: 6px;
  margin-left: 71px;
  min-width: 325px;

  font-size: 14px;
  line-height: 15px;

  letter-spacing: 1.05px;

  color: #000000;
}

.cart__item-title {
  margin-bottom: 5px;

  font-weight: 700;
  font-size: 16px;
  line-height: 15px;

  letter-spacing: 1.15px;
  text-transform: uppercase;

  color: #000000;
}

.cart__item-reference {
  margin-top: 14px;
  margin-bottom: 6px;
}

.cart__item-type {
  margin-top: 0;
}

.cart__item-price {
  min-width: 90px;
  margin-left: 28px;
  margin-top: 78px;
  margin-right: 32px;

  font-weight: 400;
  font-size: 20px;
  line-height: 15px;

  letter-spacing: 1.05px;
}

.cart__item-input-wrapper {
  display: flex;

  width: 82px;
  margin-left: 51px;
  margin-top: 41px;
}

.cart__item-button {
  position: relative;

  min-width: 10px;
  min-height: 10px;
  width: 28px;
  height: 30px;

  font-size: 0;

  border: 1px solid #9F9E9E;
  border-radius: 0;
  box-sizing: border-box;
  background-color: transparent;

  &::before {
    position: absolute;
    content: "";

    width: 8px;
    height: 1px;
    left: 8px;
    top: 14px;

    background-color: #9F9E9E;
  }

  &--plus::after {
    position: absolute;
    content: "";

    width: 1px;
    height: 8px;
    left: 12px;
    top: 10px;

    background-color: #9F9E9E;
  }
}

.cart__item-input {
  min-width: 10px;
  min-height: 10px;
  width: 28px;
  height: 30px;
  padding-top: 4px;

  text-align: center;

  border: 1px solid #9F9E9E;
  border-left: none;
  border-right: none;
  border-radius: 0;
  box-sizing: border-box;
  background-color: transparent;
}

.cart__item-sum {
  position: absolute;

  top: 58px;
  right: -4px;

  font-weight: 700;
  font-size: 20px;
  line-height: 15px;
  text-align: right;

  letter-spacing: 1.15px;

  color: #000000;
}

.cart__promo-code {
  width: 50%;
}

.cart__promo-title {
  margin-top: 40px;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 15px;

  letter-spacing: 1.15px;

  color: #000000;
}

.cart__promo-text {
  margin-top: 10px;
  margin-left: 1px;

  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  letter-spacing: 0.95px;
}

.cart__promo-input {
  width: 170px;
  height: 36px;
  margin-top: 7px;

  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;

  letter-spacing: 0;

  color: #000000;

  border: 2px solid #DDDADA;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: transparent;
}

.cart__promo-button {
  margin-left: 33px;
  margin-top: -2px;
  padding-left: 14px;

  min-height: 10px;
  width: 200px;
  height: 36px;

  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  text-align: left;

  letter-spacing: 1px;

  color: #FFFFFF;
  background-color: #C1C1C1;
}

.cart__sum {
  width: 40%;
  margin-left: auto;
  margin-right: 4px;
  margin-top: 40px;

  font-weight: 700;
  font-size: 20px;
  line-height: 15px;
  text-align: right;

  letter-spacing: 1.2px;

  color: #000000;
}

.cart__order {
  position: absolute;
  bottom: 0;
  right: 0;
  min-height: 36px;
  width: 220px;

  font-weight: 700;
  font-size: 16px;
  line-height: 15px;

  letter-spacing: 1.2px;

  color: #FFFFFF;

  background-color: #E27F00;
  border-radius: 2px;
}
